.block-advance-text {
  margin-top:60px;
  &.advance-headline-breaker{
    .theme-headline{
      &.boldHeadline{font-size: 5rem;line-height: 1.28em;}
    }
  }
  &.advance-text-big{
    .copy{font-weight: 700;font-size: 2.4rem;line-height: 1.33em}
  }
  &.advance-one-column{
    .flex{max-width: 732px;margin-inline: unset;}
  }
  &.advance-two-column{
    .flex{display: flex;flex-direction: column;max-width: unset;}
    .text-container{display: flex;gap: 51px;}
    .button-container{margin-left: auto;}
  }
  .flex{max-width: 993px;margin-inline: auto;}
}
