.block-content {
  &.content-flex {
    .flex{display: flex;gap: 50px;}
    .texts-container {padding-top: 20px;}
  }
  &.content-list{
    .media-container{
      flex: 0 0 calc(32.8% - 25px);
      max-width: calc(32.8% - 25px);
    }
    .texts-container{
      flex: 0 0 calc(67.3% - 25px);
      max-width: calc(67.3% - 25px);}
    .wrapper{
      padding-bottom: 60px;
      display: flex;gap: 50px;
    }
  }
  .flex{padding-top: 60px;}
  img {display: block;width: 100%;}
}