.block-form {
    padding-top: 60px;
  .form-grid {display: grid;grid-template-columns: repeat(6, 1fr);grid-gap: 51px;}
  .form {grid-column: 2 / span 4;
    .btn-container{
      margin-top: 50px;
      border-radius: 35px;border: 2px solid $textColor2;
    }
    .checkbox-label{font-size: 10px;}
    .cta {cursor: pointer;padding:15px 30px;width: 100%;height: auto;display: flex;justify-content: center;align-items: center;}
    .error-border {border: 1px solid red !important;}
    input[type="text"], select,textarea{margin: 9px 0 20px 0;}
    input[type="email"]{margin: 9px 0 0 0;}
    input[type="text"], input[type="email"], textarea, select {width: 100%;background: #FFFFFF;border: 1px solid #171717;opacity: 1;padding: 1rem;}
    input[type="checkbox"] {
      appearance: none;
      width: 12px;
      height: 12px;
      border: 1px solid #171717;;
      background-color: white;
      cursor: pointer;
      position: relative;
    }
    input[type="checkbox"]:checked {
      background-color: black;
    }
    input[type="checkbox"]::before {
      content: "✔";
      color: white;
      font-size: 14px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      visibility: hidden;
    }
    input[type="checkbox"]:checked::before {visibility: visible;}
    input[type="checkbox"].error-text-box-border {
      border: 1px solid red;
    }
    .label {font-weight: 700;letter-spacing: 0.45px;line-height: 1.055em;}
    label[for='checkbox']{line-height: 2.6em;letter-spacing: 0.1px;font-size: 1rem;text-transform: capitalize;margin-left: 1%;}
    .required-message {
      display: none;
      color: red;
      font-size: 10px;
    }
    .show-error {display: block;}
    #email::placeholder, #text::placeholder, textarea::placeholder, select{color: $textColor3;font-weight: 700;letter-spacing: 0.45px;line-height: 1.055em;text-transform: uppercase}
    #email::placeholder {color: #CBCBCB;}
    select {color: #CBCBCB;}
  }
    .text-container {grid-column: 2 / span 4;}
    .theme-headline{
      &.boldHeadline{font-size: 5rem;line-height: 1.28em;}
    }
    .text {margin-top: 30px;text-transform: capitalize;font-size: 1.6rem;line-height: 1.25em;font-weight: 700;}
}