.block-hero {
  padding: 50px 0;
  &.hero-flex {
    .flex {display: flex;gap: 55px;}
    .media-container{flex: 1;}
    .text-container {flex: 1;display: flex;flex-direction: column;justify-content: center;}
  }
  &.hero-black-flex {
    .theme-container{
      max-width: unset;
      padding-inline: 0;
    }
    .btn-wrapper{border: 1px solid $textColor1;}
    .flex {
      padding-inline: 594px;
      background-color: #171717;
      position: relative;
      height: 565px;
      display: flex;flex-direction: column;
    }
    .media-container {
      padding-top: 32px;
      order: 2;
    }
    .overline,.theme-headline,.theme-cta{color: $textColor1;}
    .text-container{
      text-align: center;
      color: $textColor1;
      padding-top: 50px;
    }
    .theme-headline{
      &.boldHeadline{font-size: 5rem;line-height: 1.28em;}
    }
  }
}
@include screenMaxWidth(1700px){
  .block-hero{
    &.hero-flex {
      .flex {gap: 20px;}
    }
    &.hero-black-flex{
      .flex{padding-inline:297px; }
    }
  }
}
@include screenMaxWidth(1440px){
  .block-hero{
    &.hero-flex {
      .flex {gap: 20px;}
    }
  }
}
@include screenMaxWidth(1280px){
  .block-hero{
    &.hero-black-flex{
      .flex{padding-inline: 257px;}
    }
  }
}
@include screenMaxWidth(1210px){
  .block-hero{
    &.hero-black-flex{
      .flex{padding-inline: 129px;}
    }
  }
}
@include screenMaxWidth(1024px){
  .block-hero{
    .theme-container{padding-inline: 40px;}
  }
}
@include screenMaxWidth(768px){
  .block-hero{
    &.hero-flex {
      .flex {flex-direction: column;}
    }
    &.hero-black-flex{
      .flex{padding-inline: 40px;}
    }
  }
}
@include screenMaxWidth(375px){
  .block-hero{
    &.hero-black-flex{
      .flex{padding-inline: 20px;}
      .btn-wrapper{padding: 15px 30px;display: block;}
    }
    .theme-container{padding-inline: 20px;}
  }
}
