.block-quote {
    position: relative;
    background: $textColor3;
    margin: 50px 0;
    padding: 60px 0;
  .caption {
    padding: 15px 0 0 0 ;
    color: #FFF;
    text-transform: capitalize;text-align: center;
  }
  .headline{
    color: $textColor1;
    text-transform: inherit;
    font-style: italic;
  }
  .theme-container {
    &::before{
      content: "";
      background: url("/assets/theme/assets/images/qoutes.svg") no-repeat center;
      background-size: contain;
      width: 86px;
      height: 70px;
      position: absolute;
      top: -10px;
    }
  }
  .text-container{
    position: relative;
    text-align: center;
    padding-inline: 202px;
    &::after {
      content: "";
      background: url("/assets/theme/assets/images/qoutes.svg") no-repeat center;
      background-size: contain;
      width: 86px;
      height: 70px;
      position: absolute;
      right: 0;
    }
  }
}
@include screenMaxWidth(1024px){
  .block-quote{
    .text-container{padding-inline: 75px;}
    .theme-container{
      &::after{
        right: 5%;
      }
    }
  }
}
@include screenMaxWidth(768px){
  .block-quote{
    .caption{padding: 15px 0;}
    .theme-headline{padding-top: 15px;padding-bottom: 0;}
  }
}