.block-quote {
    position: relative;
    background: $textColor3;
    margin-top: 60px;
    height: 298px;display: flex;justify-content: center;align-items: center;
  .container {max-width: 993px;margin-inline: auto; }
  .caption {
    padding: 15px 0 0 0 ;
    color: #FFF;
    text-transform: capitalize;text-align: center;
  }
  .headline{
    color: $textColor1;
    text-transform: inherit;
    font-style: italic;
  }
  &::before, &::after {
    content: "";
    background: url("/assets/theme/assets/images/qoutes.svg") no-repeat center;
    background-size: contain;
    width: 86px;
    height: 70px;
    position: absolute;
  }
  &::before {left: 12%;top: -10px;}
  &::after {right: 12%;bottom: -10px;}
}