.block-swipe-teaser {
  padding: 50px 0;
  .media-wrapper{
    width: 472px;
    flex-shrink: 0;}
  .slick-slide {
    width: 100% !important;
  }
  .slick-slider {
    position: relative;
  }
  .slick-current {
    opacity: 1;
  }
  .slick-track{display: flex!important;gap: 50px;}
  .slick-list{
    overflow: hidden;
  }
  .slick-dots{
    margin-top: 73px;
    display: flex;justify-content: center;align-items: center;cursor: pointer;
    li {
      width: 10px;height: 10px;border-radius: 50%;border: 1px solid black;
      margin: 0 2px;
      button {
        &:before {color: unset;}
        font{display: none;}
        display: none;
      }
      &.slick-active {
        background: black;
        button {
          &:before {color: unset}
          font{display: none;}
        }
      }
    }
  }
  .theme-container{padding-inline: 15px;}
  .text-wrapper{
    padding-top: 32px;
    width: 472px;
    flex-shrink: 0;
  }
  .wrapper{display: flex !important;gap: 55px; align-items: center;}
}
@include screenMaxWidth(1440px){
  .block-swipe-teaser{
    .media-wrapper{width: 413px;}
    .slick-list{padding-left: 290px !important;padding-right: 0 !important;}
    .slick-track{gap: 20px}
    .text-wrapper{width: 413px;}
    .theme-container{padding-inline: 10px;}
    .wrapper{gap: 20px;}
  }
}
@include screenMaxWidth(1025px) {
  .block-swipe-teaser {
    .media-wrapper{width: unset;}
    .theme-container { padding-inline: 0; }
    .slick-track{gap: 20px;}
    .slick-list{padding-inline: 150px !important;}
    .text-wrapper{width: unset;padding-top: 0;}
    .wrapper{flex-direction: column;align-items: unset;}
  }
}
@include screenMaxWidth(768px){
  .block-swipe-teaser{
    .slick-list{padding-inline: 50px!important;}
  }
}
@include screenMaxWidth(767px){
  .block-swipe-teaser{
    .slick-list{padding-inline: 0!important;}
    .slick-track{gap: 0;}
    .theme-container{padding-inline: 20px;}
  }
}

