.block-swipe-teaser {
  padding: 50px 0;
  .media-wrapper{max-width: 53.25%;}
  .slick-slide {
    opacity: 50%;
    width: 990px !important;
    flex: 0 0 990px !important;
  }
  .slick-track {display: flex !important;gap: 55px;}
  .slick-slider {position: relative;}
  .slick-current {opacity: 1;}
  .slick-list{
    overflow: hidden;
    &.draggable{padding: 0!important;}
  }
  .slick-dots{
    margin-top: 73px;
    display: flex;justify-content: center;align-items: center;cursor: pointer;
    li {
      width: 10px;height: 10px;border-radius: 50%;border: 1px solid black;
      margin: 0 2px;
      button {
        &:before {color: unset;}
        font{display: none;}
        display: none;
      }
      &.slick-active {
        background: black;
        transform: none !important;
        button {
          &:before {color: unset}
          font{display: none;}
        }
      }
    }
  }
  .theme-container{padding-inline: 15px;}
  .text-wrapper{
    padding-top: 32px;
    max-width: 46.662%;
  }
  .wrapper{display: flex !important;gap: 55px; align-items: center;width: 100%;}
}
@include screenMaxWidth(1440px){
  .block-swipe-teaser{
    .slick-slide{flex: 0 0 874px!important;}
    .slick-track{gap: 20px;}
    .text-wrapper{max-width: 44.662%;}
    .theme-container{padding-inline: 10px;}
    .wrapper{gap: 20px;}
  }
}
@include screenMaxWidth(1280px){
  .block-swipe-teaser{
   .slick-slide{flex: 0 0 780px!important;}
  }
}
@include screenMaxWidth(1025px) {
  .block-swipe-teaser {
    .media-wrapper{max-width: unset;}
    .text-wrapper{max-width: unset;padding-top: 0;}
    .slick-slide{flex: 0 0 622px!important;}
    .wrapper{flex-direction: column;align-items: unset;}
  }
}
@include screenMaxWidth(767px){
  .block-swipe-teaser{
    .theme-container{padding-inline: 20px;}
  }
}
@include screenMaxWidth(665px){
  .block-swipe-teaser{
    .slick-slide{flex: 0 0 355px!important;}
    .text-wrapper{width: 100%;}
  }
}

