<html>
<head>
    {{ encore_entry_link_tags('home', null, 'theme') }}
</head>
<body>
{#<div class="content">#}
{#<ul>#}
{#    {% for item in content %}#}
{#        <li><a href="{{ item.title }}">{{ item.description }}</a></li>#}
{#    {% endfor %}#}
{#</div>#}
<h1>
        hello world
</h1>
</ul>
</body>
</html>