
<div class="about">
    <div class="image">
        <img src="{{ item.image }}" alt="about-img">
    <div class="text-zone1">
        <div class="text">{{ item.about_me }}</div>
        <div class="paragraph">{{ item.paragraph }}</div>
    </div>
    </div>
</div>








