
<div class="project">
    <div class="text-header">{{ item.project }}</div>
    <div class="project_images">
        <div class="images">
            {% for image in item.images %}
                <img src="{{ image }}" alt="project-img">
            {% endfor %}
        </div>

    </div>
</div>
